@font-face {
	font-family: 'TTLakes';
	src: url('fonts/TTLakes-Medium.eot');
	src: local('☺'), url('fonts/TTLakes-Medium.woff') format('woff'), url('fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('fonts/TTLakes-Regular.eot');
	src: local('☺'), url('fonts/TTLakes-Regular.woff') format('woff'), url('fonts/TTLakes-Regular.ttf') format('truetype'), url('fonts/TTLakes-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('fonts/TTLakes-Bold.eot');
	src: local('☺'), url('fonts/TTLakes-Bold.woff') format('woff'), url('fonts/TTLakes-Bold.ttf') format('truetype'), url('fonts/TTLakes-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@media (min-width: 1120px) {
    .read-more-button {
        display: flex;
        background: url('../second-chance/img/read-more.svg') no-repeat 5% 50%;
        width: 140px;
        padding-left: 25px;
        margin: 16px 16px;
    }
    .swiper-container {
        overflow: hidden;
        width: 100%;
        padding-top: 16px;
    }
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 160px;
        overflow: hidden;
        padding-top: 24px;
    }
    .swiper-wrapper--height {
        display: flex;
        height: auto;
    }
    .card {
        margin-bottom: 16px;
        margin-right: 32px;
    }
}

@media (min-width: 768px, max-width: 1119px){
    .read-more-button {
        display: flex;
        background: url('../second-chance/img/read-more.svg') no-repeat 5% 50%;
        width: 140px;
        padding-left: 25px;
        margin: 16px 16px;
    }
    .swiper-container {
        overflow: hidden;
        width: 100%;
        padding-top: 16px;
    }
    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 160px;
        overflow: hidden;
        padding-top: 24px;
    }
    .swiper-wrapper--height {
        display: flex;
        height: auto;
    }
    .card {
        margin-bottom:  16px;
        margin-right: 24px;
    }

}

@media (max-width:767px){
    .read-more-button {
        display: none;
    }
    .swiper-wrapper {
        padding-top: 16px;
        height: 110px;
        flex-wrap: nowrap;
    }
    .card {
        margin-right: 16px;
    }
}


body {
    margin: 0 auto;
    background: #F8F8F8;
}
.header {
    display: flex;
    align-items: center;
    border-top: 1px solid #D9FFF5;
    height: 80px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding-left: 16px;
}
.header__title {
    font-family: 'TTLakes';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}
.card {
    display: flex;
    align-items: center;
    width: 240px;
    height: 72px;
    background: #FFFFFF url('img/go.svg');
    background-position: right 16px bottom 16px;
    background-repeat: no-repeat;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 16px;
}
.swiper-container {
    background: #F8F8F8;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin: 0 auto;
    padding-left: 16px;
}


.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: #DDDDDD;
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #B5B6BC;
  }

.button {
    outline: none;
    cursor: pointer;
    border: none; 
    background-color: transparent;
    border-radius: 2px;
}
.button:active {
    transform: translateY(1px);
}
.button:focus {
   box-shadow: 0 0 0 2px #B8FFEC;
   background-color: white;
 }
.button:hover {
    box-shadow: 0 0 0 2px #B8FFEC;
    background-color: white;
}
.button-text  {
    font-family: 'TTLakes', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}
.read-more-button__text {
    color: #1B1C21;
}
.read-more-button__text--hide {
    
}